<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <title>Boolflix</title>

    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>

    <!-- VueJS -->
    <script src="libs/vue.js" charset="utf-8"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

    <div id="root">

      <header>
          <div class="container">
              <img src="img/boolflix-logo.png" alt="logo"/>
          </div>
          <input type="text" name="" value="" placeholder="Cerca..." v-model="searchInput">
      </header>

      <div class="movies-container container">
          <div class="movie" v-for="movie in movies">
              <img src="" alt="">
              <h3></h3>
              <span class="originalTitle"></span>
              <span class="language"></span>
              <span class="rating"></span>
          </div>
      </div>

    </div>

    <!-- Custom JS -->
    <script src="js/main.js" charset="utf-8"></script>

  </body>
</html>
